@import "node_modules/bulma/sass/utilities/_all.sass";

.dropdown {
    &.is-active {
        @include mobile {
            &::before {
                content: '';
                position: fixed; // set position to fixed to cover the entire screen
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(62, 62, 62, 0.157); // set the background color to semi-transparent black
                z-index: 1; // set the z-index to 0 to place the overlay behind the active element
            }
        }
    }
}

.dropdown-content {
    max-height: 40vh;
    overflow-y: auto;

    @include mobile {
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0;
        transform: translateY(100%);
        animation: slide-up 0.5s forwards;
        z-index: 999;
        max-height: 60vh;

        @keyframes slide-up {
            to {
                transform: translateY(0); // move the element back down to its original position
                bottom: 0;
            }
        }
    }
}

.dropdown-close__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    line-height: 1;

    margin-bottom: 1.5rem;
    margin-top: .5rem;

    @include desktop {
        display: none;
    }

    .dropdown-close__button {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.dropdown-content {
    padding: 0.5rem 1rem 1rem;
}

.dropdown__button {
    display: flex;
    padding-right: 3rem !important;

    .icon {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.dropdown__icon {
    right: calc(1rem - 1px);
    margin-right: 0;
    position: absolute;
}