@import "../../node_modules/bulma-checkradio";
@import "../../node_modules/bulma-slider";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/tachyons-sass";

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.icon {
    min-width: 2rem;
}

.input-icon {
    height: 100% !important;
}

.label:not(:last-child) {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.recipe-filters {
    display: none;
    justify-content: space-evenly;

    @include mobile {
        display: none;

        &.is-shown {
            display: block;
        }
    }

    @include tablet {
        display: none;
        flex-direction: column;
        &.is-shown {
            display: flex;
        }
    }

    @include desktop {
        flex-direction: row;
        display: flex;
    }

}

.recipe-filter-show {
    display: flex;
    align-items: center;
    color: $primary;

    @include desktop {
        display: none;
    }
}

.recipe-filter {
    margin-bottom: 1rem;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        margin-left: 0.5rem;

        &:first-child {
            margin-left: 0;
        }
    }


    @include desktop {
        min-width: 250px;
        max-width: 350px;
    }
}

.recipe-filter__group {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include mobile {
        display: block;
        .recipe-filter {
            display: block;
        }
    }

    @include tablet {
        width: 100%;
    }

    @include desktop {
        // width: 50%;
        margin-left: 0.5rem;

        &:first-child {
            margin-left: 0;
        }
    }
}

.recipe-filter-reset {
    align-self: flex-end;
    margin-bottom: 1rem;
    float: right;
    @include tablet {
        margin-left: 0.5rem;
    }
}

.recipe-list {
    @include mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    @include tablet {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include desktop {
        justify-content: center;
    }
}

.recipe-card {
    cursor: pointer;
    transform: scale(1.0);

    margin-bottom: 1.5rem;
    
    @include mobile {
    }

    @include tablet {
        min-width: 350px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    @include desktop {
        margin-left: 1rem;
        margin-right: 1rem;
        min-width: 384px;
    }

    &:hover {
        // .card-header {
        //     background-color: $primary;
        // }
        transform: scale(1.05);
        transition: transform 0.4s;
    }
}

.dropdown {
    &.is-active {
        @include mobile {
            &::before {
                content: '';
                position: fixed; // set position to fixed to cover the entire screen
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(62, 62, 62, 0.157); // set the background color to semi-transparent black
                z-index: 1; // set the z-index to 0 to place the overlay behind the active element
            }
        }

    }
}

.dropdown-content {
    @include mobile {
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0;
        transform: translateY(100%);
        animation: slide-up 0.5s forwards;
        z-index: 999;
        
        @keyframes slide-up {
            to {
                transform: translateY(0); // move the element back down to its original position
                bottom: 0;
            }
        }
    }
}

.dropdown-close__container {
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;

    @include desktop {
        display: none;
    }

    .dropdown-close__button {
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.pagination-list {
    @include mobile {
        width: 100%;
        justify-content: center;

        li {
            flex-grow: 0;
        }
    }
}

.radio-input {
    width: 100%;
    label {
        width: 100%;
        display: block !important;
    }
}

.dropdown-content {
    padding: 0.5rem 1rem 1rem;
}