@import "../../node_modules/bulma/bulma";

body {
    font-size: 16px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.icon {
    margin-right: 0.25rem !important;
    min-width: 2rem;
}

.text-center {
    text-align: center;
}

.input-icon {
    height: 100% !important;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}