@import "../../node_modules/bulma-checkradio";
@import "../../node_modules/bulma-slider";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/tachyons-sass";

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.input-icon {
    height: 100% !important;
}

.label:not(:last-child) {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

label {
    line-height: 1;
}

.home-hero {
    cursor: pointer;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNaLFFSdD4YhW8mqgDBSWY8nHnte6ANHQWz6Lsl37yA&s");

    .title {
        transform: scale(1);
        transition: transform 0.4s;

    }
    &:hover {
        .title {
            transform: scale(1.5);
        }
    }
}

.page-content {
    min-height: calc(100vh - #{302px});
}