@import "node_modules/bulma/sass/utilities/_all.sass";

.pagination-list {
    @include mobile {
        width: 100%;
        justify-content: center;

        li {
            flex-grow: 0;
        }
    }
}