@import "./colours.scss";

// $checkbox-border: .1rem solid $blue !important;
// $checkbox-block-background: $green;

.radio-input {
    width: 100%;

    label {
        width: 100%;
        display: block !important;
    }
}