@import "node_modules/bulma/sass/utilities/_all.sass";

.recipe-filters {
    display: none;
    justify-content: space-evenly;
    width: 100%;

    @include mobile {

        .recipe-filter {
            display: block;
        }
    }

    @include tablet-only {
        grid-template-columns: repeat(auto-fit, minmax(250px, calc((100% - 3 * 1rem) / 2)));
        justify-content: center;
        grid-gap: 1rem;
    }

    @include desktop {
        display: grid;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, calc((100% - 3 * 1rem) / 3)));
        justify-content: center;
        grid-gap: 1rem;
        max-height: initial;
    }

    &--shown {
        @include mobile {
            display: block;
        }
        @include tablet-only {
            display: grid;
        }
    }
}

.recipe-filter-show {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $blue;

    @include desktop {
        display: none;
    }
}

.recipe-filter {
    margin-bottom: 1rem;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        // margin-left: 0.5rem;

        &:first-child {
            margin-left: 0;
        }
    }
}

.recipe-filter__group {

}

.recipe-filter-reset {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}