@import "node_modules/bulma/sass/utilities/_all.sass";

.recipe-filters {
    display: none;
    justify-content: space-evenly;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
    max-height: 0;
    height: 100%;
    width: 100%;
    height: 0;

    @include mobile {
        display: block;

        .recipe-filter {
            display: block;
        }
    }

    @include tablet-only {
        grid-template-columns: repeat(auto-fit, minmax(250px, calc((100% - 3 * 1rem) / 2)));
        justify-content: center;
        grid-gap: 1rem;
    }

    @include desktop {
        display: grid;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, calc((100% - 3 * 1rem) / 3)));
        justify-content: center;
        grid-gap: 1rem;
        max-height: initial;
    }

    &--shown {
        height: auto;
        @include mobile {
            max-height: 80vh;
            overflow-y: auto;
            display: block;
            transition: height 0.4s ease-in;
        }
        @include tablet-only {
            display: grid;
            max-height: 80vh;
            overflow-y: auto;
            transition: height 0.4s ease-in;
        }
    }
}

.recipe-filter-show {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $blue;

    @include desktop {
        display: none;
    }
}

.recipe-filter {
    margin-bottom: 1rem;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        // margin-left: 0.5rem;

        &:first-child {
            margin-left: 0;
        }
    }
}

.recipe-filter__group {

}

.recipe-filter-reset {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}