@import "node_modules/bulma/sass/utilities/_all.sass";

.recipe__title {
    margin-bottom: 1rem;
    margin-top: 0;
}

.recipe__image {
    max-width: 100%;
    max-height: 500px;
    margin: 0 0 1rem;

    @include mobile {
        max-height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.recipe__all {
    @include mobile {
        display: flex;
        flex-direction: column;
    }

    @include tablet-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        width: 100%;

        .recipe__block:nth-child(3) {
            grid-row: 2;
            grid-column: 1 / span 2;
        }
    }

    @include desktop {
        display: grid;
        grid-template-columns: minmax(200px, 30%) minmax(250px, 30%) minmax(400px, 40%);
        grid-gap: 1rem;
        width: 100%;
    }
}

.recipe__block {
    @include mobile {
        margin-bottom: 1rem;
        width: 100%;
    }
}

.recipe__description {
    width: 100%;
}

.recipe__ingredients {
    width: 100%;
}

.recipe__steps {
    width: 100%;
}

.recipe-panel__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    &--active {
        max-height: 300vh;

        @include desktop {
            max-height: 50vh;
        }

        overflow-y: auto;
        transition: max-height 0.4s ease-in;
    }
}

.recipe-panel__header {
    position: sticky;
    top: 52px;
    z-index: 100;
    cursor: pointer;
}

.recipe-panel__text {
    max-width: calc(100% - #{32px});
}

.recipe-panel__image {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - #{32px});
    max-width: 500px;
    max-height: 300px;
}

.recipe-panel__item {
    &:hover {
        background-color: lighten($success, 30%) !important;
    }
}

.recipe-panel__item--active {
    background-color: lighten($success, 30%) !important;
    &:hover {
        background-color: lighten($success, 20%) !important;
    }
}